<%= form_with(model: pi, local: true) do |form| %>
  <% if pi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pi.errors.count, "error") %> prohibited this pi from being saved:</h2>

      <ul>
      <% pi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
